
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 10%;
     gap: 4rem;
     width: 100%;
     height: 41rem;
     bottom: 0;
    cursor: pointer;
    background-color: green;
    background: linear-gradient(rgb(4, 108, 49),rgb(23, 188, 14), rgb(5, 102, 5));
}

.container{
   display: flex;
    justify-content: center;
    width: 100%;
   
   
}
.content{
    width: 90%;
    height: 100%;
    border: 2px solid rgb(89, 82, 82);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 3px 3px 2px rgb(63, 95, 122, 0.4);
    border-bottom: 12px solid green;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(rgb(12, 12, 223) , rgb(25, 216, 171))  ;
    margin-top: 3rem;
    background-color: blue;
    position: relative;
}

.score{
  display: flex;
  color: white;
  justify-content: center;
  margin-bottom: 3rem;
}

.pipe {
    position: absolute;
    width: 3rem;
    bottom: 0;
    right: 0px;
    animation: none;
}
.mario {
    width: 5rem;
    left: 0;
    bottom: 0px;
    position: absolute;
}
.mario.jump {
    animation: pulo-mario 1.1s forwards ;
}
.cloud{
    width: 15rem;
    top: 0;
    position: absolute;
    animation: none;
}
.start{
    color:white;
    background-color: greenyellow;
    background: linear-gradient(rgb(157, 185, 159),rgb(38, 142, 38) , rgb(141, 209, 146));
    position: absolute;
    padding: 1.5rem 2rem;
    display: flex;
    border-radius: 9px;
    font-family: "Poppins";
    cursor: pointer;
    box-shadow: 2px 2px  green;
    font-size: 1.2rem;
    
}
.btn_start{
    width: 100%;
    display: flex;
    justify-content: center;
}

.start:hover{
    background-color: rgb(205, 218, 205);
    background: linear-gradient(rgb(21, 207, 21),rgb(21, 135, 15), rgb(21, 207, 21));
}
.end_game{
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.end_game::after{
    content: 'click para continuar';
    display: block;
    color: rgb(216, 10, 10);
    position: absolute;
    text-align:center;
    bottom: 10rem;
    width: 100%;
    position: absolute;
    font-family: "Poppins";
    cursor: pointer;
}
.end_game:hover:after{
   color: white;
}


.game_over{
    position: absolute;
    width: 30rem;
    cursor: pointer;
}


.crono{
    text-align: center;
    justify-content: center;
    display: none;
    font-family:'Poppins';
    padding: 5rem;
    color: rgb(250, 250, 250);
    font-size: 5rem;
}

/* rodape */
footer{
    z-index: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    
  }

  .footer p {
    font-family: "Poppins";
  }

   .footer_rights{
    background-color: #151212;
    text-align: center;
    bottom: 0;
    color: white;
  }
@keyframes animacao_pipe {
    from{
        right: -33px;
    }to{
       right: 100%;
    }
}

@keyframes pulo-mario {
    0%{
        bottom: 0px;
    }

    50%{
        bottom: 150px;
    }
   70%{
        bottom: 130px;
    }
    80%{
        bottom: 80px;
    }
    
    100%{
        bottom: 0px;
    }
}

@media (max-width: 600px) {
    .content{
        width: 100%;
        margin-top: 0.5rem;
    }
  
    .end_game::after{
        bottom: 9rem;
    }

    body{
        cursor: pointer;
    }
}
/* moblie modo paissagem */
@media (max-height:450px) {
    .content{
        width: 100%;
        height: 100%;
        margin-top: 0.2rem;
    }
   .score{
    height: 3.8rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
   }
   .score h1{
    font-size: 1.6rem;
   }
   .container{
    height: 100%;
   }
    .end_game::after{
        bottom: 4rem;
    }

    body{
        height: 25rem;
        gap: 0;
        background-color: blueviolet;
    }
}

